{% load static %}
{% url 'home-view' as path_to_home %}
{% url 'posts:main-post-view' as path_to_posts %}
{% url 'auditions:main-audition-view' as path_to_auditions %}

<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<!--Custom css-->
		<link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
		<!-- semantic UI -->
		<link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

	
		<title>Dream Maker - Home</title>
  	</head>
  	<body>
		<!-- Page Contents -->
		<div class="ui container headerHome" style="background-image: url({% static 'images/bg_wall4.png' %});">
			<div class="ui menu homenav">
				<a href="{{path_to_home}}" class="{% if request.path == path_to_home %}active{% endif %} itemHome">
					<img src="{% static 'images/logo_2.png' %}" class="logo">
				</a>
				<div class="right menu">
					{% if request.user.is_authenticated %}
						<a href="{% url 'account_logout' %}" class="ui itemHome">
							<i class="power off icon"></i>
							Logout
						</a>
					{% else %}
						<a href="{% url 'account_login' %}" class="ui itemHome">
							<i class="sign in alternate icon icon"></i>
							Login
						</a>
					{% endif %}
				</div>
			</div>
			<div class="ui masthead left aligned right floated segment">
				<h1>ANY AUDITION</h1>
				<h1>ANY TIME</h1>
				<h1>ANY WHERE</h1>
				<div class="description">
					New way to find auditions & participants. If you are one of those thousands of people 
					who struggle to find auditions or participants for auditions, this is for you.
				</div>
				<a href="{{path_to_auditions}}"> <button class="ui massive violet button">Auditions</button></a>
				<a href="{{path_to_posts}}"> <button class="ui massive violet button">Participants</button></a>
			</div>
		</div>
		
	</body>


